.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  background-image: none;
}

.react-resizable-handle::after {
  content: '';
  position: absolute;
  right: 4px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #e8e8e8;
  transition: background-color 0.3s;
}

.react-resizable-handle:hover::after {
  background-color: #1890ff;
} 